/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* clearfix */

/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  font-family: sans-serif;
  background: #ffe;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* --- HEADER --- */

/*.header {
  background: #5f9ea0;
  color: #fff;
  margin: 0 0 16px 0;
}*/

.header a {
  display: block;
  padding: 10px 15px;
}

.header-nav {
  margin: 0px auto 16px auto;;
}

.header-logo-first {
  float: left;
  font-weight: 100;
  font-size: 32px;
  margin-left: 20px;
  color: #3e2c1a;
  letter-spacing: -2px;
}

.header-logo-second {
  float: left;
  font-size: 32px;
  color: #3e2c1a;
  letter-spacing: -2px;
  font-weight: bold;
}

.header-list {
  float: right;
  margin-right: 20px;
}

.header-list > li {
  float: left;
  border: 1px solid #ac9c8d;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.header-profile-name {
  display: block;
  font-size: 24px;
}

.badge {
  display: inline;
  background: #000;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 14px;
}

/* --- SIGN-IN PAGE --- */

.sign-in-box {
  display: block;
  margin: 0 auto;
  background: #fff;
  width: 600px;
  height: 231px;
  border: solid 1px #ccc;
  padding: 40px 40px 20px 40px;
  border-radius: 5px;
}

.sign-in-box > h1{
  font-weight: bold;
  font-size: 36px;
  padding-left: 250px;
}
.input-box {
  margin: auto;
  padding: 0 150px;
}

.input-text {
  display: block;
  font-weight: bold;
  margin: 0 auto;
  font-size: 12px;
  margin: 10px 0 5px 0;
}

.input-field {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 4px;
  font-weight: normal;
  font-size: 14px;
  border-radius: 5px;
  width: 300px;
}

.submit-button {
  border-radius: 5px;
  border: 1px solid #ac9c8d;
  background: #f6f6ee;
  padding: 12px 20px;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 20px;
  color: #333;
}

.submit-button:hover {
  cursor: pointer;
  background: #f7f2ed;
}

/* --- APP CONTENT --- */

.game-index-pane {
  margin: 0 auto;
  width: 620px;
  border: solid 2px #ac9c8d;
  border-radius: 5px;
  padding: 20px;
  font-family: sans-serif;
}

.game-index-pane > h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 24px;
}

.content-header {
  font-size: 36px;
  text-align: right;
}

/* --- SIDEBAR --- */

/*.profile-picture {
  display: block;
  position: relative;
  border: 1px solid #000;
}

.online {
  display: block;
  position: absolute;
  background: #0c0;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 3px;
  font-size: 12px;
  top: 0;
  left: 0;
  font-weight: bold;
}

.profile-info {

}

.profile-info > h2 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: bold;

}

.profile-info > p {
  margin: 0 0 20px 0;
}

.profile-nav {
  font-weight: bold;
}

.profile-nav > li {
  border-bottom: 1px solid #ccc;
}

.profile-nav > li:first-child {
 border-top: 1px solid #ccc;
}

.profile-nav a {
  display: block;
  padding: 5px;
}*/

/* --- THUMB --- */

/*.thumb {
  display: block;
  width: 58px;
  height: 58px;
  border: 1px solid #000;
}*/

/* --- FORM --- */

/*.form {
  margin: 20px 0;
}

.form-thumb {
  float: left;

}

.form-fieldset {
  margin: 0 0 0 20px;
  padding: 19px;
  float: left;
  width: 500px;
  background: #eee;
  border: solid 1px #ccc;
}

.input {

}

.input > label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.input > input,
.input > textarea {
  padding: 10px;
  border: 1px solid #ccc;
  width: 478px;
  background: #fff;
  margin: 0 0 20px 0;
}

.input > input {

}

.input > textarea {
  height: 120px;
}

.submit {

}

.submit > button {
  display: block;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  background: #0c0;
}*/

/* --- POSTS --- */
/*
.posts {

}

.post {
  border-top: 1px solid #ccc;
  padding: 20px 0px;
}

.post:last-child {
  padding: 20px 0 0 0;
}

.post-thumb {
  display: block;
  float: left;
}

.post-body {
  float: left;
  width: 540px;
  margin: 0 0 0 20px;
}

.post-body > h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 20px 0;
}

.post-body > p {

}*/

/* --- FOOTER --- */
/*
.footer {
  border: 1px solid #ccc;
  background: #fff;
  color: #ccc;
  margin: 0 auto;
  width: 860px;
  padding: 20px;
  font-size: 14px;
}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
  margin: 0 0 0 20px;
}*/
