/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* clearfix */

/* --- RESET --- */

html, body, header, nav, h1, a, ul, li, h3,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  z-index: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */



body {
  font-family: 'Roboto';
  background: #EEEEEE;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* --- WHITE BACKGROUND --- */

.white-background {
  background: white;
}

/* NAVIGATION BAR*/

.header {
  background: #115D82;
}

.navigation-bar {
  margin: 0 auto;
  background: yellow;
  max-width: 1000px;
  width: auto;
}

.logo-box {
  font-family: sans-serif;
  float: left;
  padding: 10px 10px 10px 0;
}

.logo-box:hover {
  cursor: pointer;
}

.header-logo-first {
  float: left;
  font-weight: 100;
  font-size: 32px;

  color: #eee;
  letter-spacing: -2px;
}

.header-logo-second {
  float: left;
  font-size: 32px;
  color: #eee;
  letter-spacing: -2px;
  font-weight: bold;
  text-shadow: 0 0 0.2em #53b9ea, 0 0 0.2em #53b9ea, 0 0 0.2em #53b9ea;
}

.session-nav {
  float: right;
  display: block;
}

.session-links > * {
  float: left;
  padding: 20px 10px;
  color: #FFFFFF;
}

.session-links > li:first-child {
  float: left;
  cursor: default;
  padding: 20px 0;
  margin-right: 5px;
  color: #FFFFFF;
}

.content {
  margin: 0 auto;
  background: #ccc;
  width: 960px;
  font-size: 200px;
}

.navigation-box {
  float: left;
  display: block;
}

.navigation-links > li {
  float: left;
  padding: 20px 10px;
  color: #FFFFFF;
  transition: background-color 400ms, transform 400ms, color 400ms;
}

.home:hover {
  cursor: pointer;
  background: #FFFFFF;
  color: #000000;
}

.search-box {
  float: right;
  margin: 12px 5px 0 5px;
  width: auto;
  background: #FFFFFF;
}

.search-box:focus {
  box-shadow: 0px 0px 5px 5px #53b9ea;
}

.search-box-results {
  position: absolute;
  margin-top: 10px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.search-box-results > li > a {
  display: block;
  background: #FFFFFF;
  width: 200px;
  padding: 10px;
  border-top: 1px solid #AAAAAA;
  margin-top: -1px;
}

.search-box-results > li:first-child {
  margin-top: -10px;
}

.search-box-results > li > a:hover {
  background: #53b9ea;
  cursor: pointer;
}

/* --- LOADING --- */

.loading {
  margin: 0 auto;
  font-size: 50px;
  font-weight: bold;
  color: rebeccapurple;
}

.loading-image {
  width: 200px;
  height: auto;
  margin: auto;
 }

/* --- HEADER --- */



.header a {
  padding: 10px 20px;
}

.header-nav {
  margin: 0px;
  color: #eee;
}

.header-nav > h2 {
  float: right;
  margin-right: 10px;
  margin-top: 7px;
  font-size: 20px;
  font-weight: bold;
}

.header-nav-bar {
  display: block;
  margin-left: 10px;
  margin-top: 16px;
  font-size: 16px;
  float: left;
  font-weight: bold;
  color: #eee;
}

.header-nav-bar:hover {
  text-shadow: 0 0 0.2em #53b9ea, 0 0 0.2em #53b9ea, 0 0 0.2em #53b9ea ;
  cursor: pointer;
}

.header-list {
  float: right;
  margin-right: 20px;
}

.header-list > li {
  float: left;
  border: 1px solid #ac9c8d;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}


.logout-button {
  float: right;
  padding: 20px 10px;
}

.logout-button:hover {
  text-shadow: 0 0 0.2em #53b9ea, 0 0 0.2em #53b9ea, 0 0 0.2em #53b9ea;
  cursor: pointer;
}

/* ADDREVIEW BOX */

.add-review-box {
  margin: 0 auto;
  padding: 0;
}

.edit-review-box {
  margin: 0 auto;
  background: #eee;
  width: 650px;
  padding: 20px;
  border-radius: 5px;
}

.score-choices > li {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.review-score:hover {
  cursor: pointer;
}

.add-review-box > h2,
.edit-review-box > h2 {
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px solid #AAAAAA;
}

.add-review-textarea {
  display: block;
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  padding: 10px 4px;
  font-weight: normal;
  font-size: 14px;
  border-radius: 5px;
  width: 95%;
  height: 120px;
  resize: both;
  word-wrap: break-word;
  color: #000000;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  outline: none;
}

.add-review-textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 10px 4px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.add-review-title {
  display: block;
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  padding: 12px 7px;
  font-weight: normal;
  font-size: 20px;
  border-radius: 5px;
  width: 80%;
  height: auto;
  word-wrap: break-word;
}

.add-review-title:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 12px 7px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.input-text {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0;
  width: 100%;
  padding: 0 4px;
}

.input-field-login {
  display: block;
  background: #FFFFFF;
  border-bottom: 1px solid #AAAAAA;
  padding: 2px 4px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  color: #000000;
}

.input-field-login:focus {
  text-align: center;
  box-shadow: 0px 8px 6px -6px #53b9ea;
}

.input-field-box {
  background: #FFFFFF;
  border: 1px solid #555;
  padding: 10px 4px;
  font-weight: normal;
  font-size: 14px;
  border-radius: 5px;
  width: 300px;
  height: 120px;
  resize: both;
  word-wrap: break-word;
  color: #FFFFFF;
}

/* buttons */

.submit-button {
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  background: #FFFFFF;
  padding: 12px 20px;
  font-weight: 600;
  margin-top: 20px;
  color: #000000;
  transition: background-color 400ms, transform 400ms, color 400ms;
}

.add-review-button {
  display: block;
  text-align: center;
  padding: 10px;
  width: 140px;
  border: 1px solid #AAAAAA;
  margin: 10px auto;
  border-radius: 5px;
  transition: background-color 400ms, color 400ms;
}

.add-review-button:hover {
  background: #53b9ea;
  color: #FFFFFF;
  cursor: pointer;
}

.guest-button {
  border-radius: 5px;
  border: 1px solid #ac9c8d;
  background: #f6f6ee;
  padding: 12px 20px;
  font-weight: 600;
  margin: 20px 0 0 15px;
  color: #333;
}

.submit-button:hover {
  cursor: pointer;
  background: #53b9ea;
  color: #FFFFFF;
}

/* --- APP CONTENT --- */

.game-index-pane {
  margin: 0 auto;
  width: 620px;
  border: solid 2px #ac9c8d;
  border-radius: 5px;
  padding: 20px 20px 10px 20px;
  margin-top: 40px;
  background: #FFFFFF;
}

.game-index-pane > h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 24px;
}

.game-index-pane > ul > li {
  background: #ffe;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.game-index-pane > ul > li:hover {
  background: #f7f2ed;
  cursor: pointer;
}

/* game detail */
/* make seperate later for user profile information */
.game-detail-pane {
  margin: 0 auto;
  width: 620px;
  border: solid 2px #ac9c8d;
  border-radius: 5px;
  padding: 20px 20px 10px 20px;
  margin-top: 40px;
  background: #FFFFFF;
}

.game-detail-pane > h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 24px;
}

.game-detail-pane > img {
  float: left;
  display: block;
  width: auto;
  height: 122px;
  border: dashed 1px black;
  margin-right: 20px;
  margin-bottom: 20px;
}

.game-detail-pane > ul > li {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
}


.content-header {
  font-size: 36px;
  text-align: right;
}

.game-detail-item {
  padding: 10px 20px;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
  margin: 10px 20px;
}

.game-detail-item > p {
  cursor: pointer;
}

/* --- REVIEW BOX --- */

.review-box {
  border: 2px dashed black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.boxed-item {
  width: 200px;
  height: 200px;
  position: relative;
  float: left;
  margin: 10px 20px;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  border-radius: 50%;
}

.boxed-item:hover {
  cursor: pointer;
}

.index-name, .review-count, .console-name, .index-score {
  display: none;
  text-align: center;
  position: absolute;
  color: #000000;
  padding: 5px 10px;
  top: 0;
  left: 0;
  font-weight: bold;
  top: 35%;
  left: 50%;
  font-size: 26px;
  width: 180px;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}

.review-count, .console-name, .index-score {
  top: auto;
  bottom: 30%;
  font-size: 14px;
  width: 150px;
}

.index-score {
  bottom: 24%;
}

.boxed-item:hover .index-name,
.boxed-item:hover .review-count,
.boxed-item:hover .console-name,
.boxed-item:hover .index-score {
  display: block;
  z-index: -1;
}

.browse-links {
  position: relative;
  z-index: 10;
}
.browse-links:hover {
  cursor: default;
  background: #FFFFFF;
  color: #000;
}

.browse-links-dropdown {
  margin-top: 20px;
  transform: translateX(50%);
  right: 50%;
  position: absolute;
  display: block;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
}

.browse-links-dropdown > li {
  padding: 10px 10px;
  background: #FFFFFF;
  border-top: 1px solid #AAAAAA;
  text-align: center;
  width: 80px;
  margin-left: -1px;
}

.browse-links-dropdown > li:hover {
  background: #53b9ea;
  cursor: pointer;
}

.user-links {
  position: relative;
  padding: 20px 5px;
  z-index: 10;
  transition: background-color 400ms, transform 400ms, color 400ms;
}

.user-links:hover {
  cursor: default;
  background: #FFFFFF;
  color: #000;
}

.user-links-dropdown {
  margin-top: 20px;
  width: 100px;
  position: absolute;
  display: block;
  transform: translateX(50%);
  right: 50%;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
}

.user-links-dropdown > li {
  padding: 10px 10px;
  background: #FFFFFF;
  border-top: 1px solid #AAAAAA;
  text-align: center;
}

.user-links-dropdown > li:hover {
  cursor: pointer;
  background: #53b9ea;
}

#search {
  width: 200px;
  padding: 7px;
}

.go-button {
  cursor: pointer;
  padding: 7px;
}

.go-button:hover {
  background: #53b9ea
}

.hidden {
  display: none;
}

.login-error {
  position: absolute;
  text-align: center;
  color: #d23f0f;
  width: 70%;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
}

/* BOTTOM NAVIGATION */

.author-navigation {
  display: table;
  margin: 20px auto;
  width: 100%;
  max-width: 680px;
  min-width: 200px;
  border-radius: 5px;
  background: #FFFFFF;
  color: #000000;
}

.author-navigation:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.author-navigation > h3 {
  display: block;
  margin: 10px;
}

.author-navigation > li {
  display: table-cell;
  text-align: center;
  transition: background-color 400ms, transform 400ms, color 400ms;
}

.author-navigation > li:hover {
  cursor: pointer;
  background: #53b9ea;
  color: #000000;
}

.author-navigation > li:last-child:hover {
  border-radius: 0 5px 5px 0;
}

.timestamp {
  font-style: italic;
  color: #CCCCCC;
  font-weight: 300;
}

.content-container-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow-up {
  margin-top: -7px;
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  border-bottom: 7px solid #000000;
}
