
.author-navigation {
  display: table;
  margin: 20px auto;
  width: 100%;
  max-width: 680px;
  min-width: 200px;
  border-radius: 5px;
  background: #FFFFFF;
  color: #000000;
}

.author-navigation:after {
  content: '';
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

.author-navigation > h3 {
  display: block;
  margin: 10px;
}

.author-navigation > li {
  display: table-cell;
  text-align: center;
  transition: background-color 400ms, transform 400ms, color 400ms;
}

.author-navigation > li:last-child {
  border-radius: 0 5px 5px 0;
}

.author-navigation > li:hover {
  cursor: pointer;
  background: #53b9ea;
  color: #000000;
}

.author-navigation > li:last-child:hover {
  border-radius: 0 5px 5px 0;
}
