.edit-box {
  margin: 25px auto;
  width: 940px;
  padding: 5px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  background: #FFFFFF;
  height: 300px;
}

.edit-box-description {
  width: 95%;
  min-height: 170px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  border: 1px solid #AAAAAA;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;

}

.edit-box-description:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.preview-image {
  object-fit: cover;
  margin: 0 auto;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.edit-box-information {
  display: block;
  padding: 5px;
  float: left;
  width: 55%;
}

.edit-box-information > button {
  border: 1px solid #AAAAAA;
  float: right;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.edit-box-information > button:hover {
  background: #53b9ea;
  color: #FFFFFF;
  cursor: pointer;
}

.edit-box-information > h2, .edit-box-picture > h2 {
  font-size: 24px;
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 10px;
}

.edit-box-picture {
  float: left;
  padding: 5px;
  width: 40%;
}

.upload {
  text-align: center;
  margin-top: 5px;
}
