.edit-box {
  margin: 25px auto;
  width: 940px;
  padding: 5px;
  border: 4px solid #fff;
  border-radius: 5px;
  background: #222;
  height: 300px;
  color: #ffffff;
}

.edit-box-description {
  background: #ffffff;
  width: 95%;
  min-height: 170px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
}

.preview-image {
  margin: 10px auto;
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 160px;
}

.edit-box-information {
  display: block;
  padding: 5px;
  float: left;
  width: 55%;
}

.edit-box-information > button {
  border: 1px solid white;
  float: right;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.edit-box-information > button:hover {
  background: #ffffff;
  color: #000000;
  cursor: pointer;
}

.edit-box-information > h2, .edit-box-picture > h2 {
  font-size: 24px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
}

.edit-box-picture {
  float: left;
  padding: 5px;
  width: 40%;
}
