.content-container {
  margin: 0px auto;
  width: 1000px;
}

.content-feed {
  float: left;
  width: 400px;
  padding: 10px 10px;
}

.feed-buttons {
  color: #fff;
  border-bottom: 1px solid #eee;
}

.feed-buttons > ul > li {
  float: left;
  padding: 20px;
  border-bottom: 3px solid transparent;
  transition: border 500ms;
}

.feed-buttons > ul > li:hover {
  cursor: pointer;
  border-bottom: 3px solid #ff3;
}

.feed-display {
  margin: 10px 0 10px 0;
  color: #fff;
}

.recent-activity-item {
  margin: 5px 0;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #CCCCCC;
}

.recent-activity-item > img {
  float: left;
  width: 45px;
  height: 45px;
  border: 1px #fff solid;
  border-radius: 5px;
}


.feed-information {
  float: left;
  margin-left: 5px;
}

.feed-information > h2 {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;

}

.recent-activity > img {
  display: block;
  float: left;
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.comment-activity {
}

.comment-activity > ul > li {
  width: 330px;
  height: auto;
}

.comment-activity > ul > li:first-child {
  border-bottom: 1px solid #ccc;
}
.comment-activity > ul > li:last-child {
  float: left;
  display: block;
  margin-top: 5px;
}

.content-game-lists {
//   float: right;
  margin: 15px 15px 0 15px;
  max-width: 100%;
  border: 1px solid #AAAAAA;
  background: #FFFFFF;
  border-radius: 5px;
}

.database-slider > h2 {
  text-align: center;
  background: #53b9ea;
  padding: 3px 0;
  font-size: 36px;
  border-bottom: 1px solid #AAAAAA;
  color: #FFFFFF;
  border-radius: 4px 4px 0 0;
}

.game-preview {
  position: relative;
  color: #000000;
  // border: 1px solid yellow;
  // display: block;
}

.game-preview > img {
  margin: 10px 0;
  margin-left: 20px;
  width: 140px;
  cursor: pointer;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  border-radius: 50%;
}

.game-preview > li {
  text-align: center;
}

// need to implement on hover display of information
.game-preview > div {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  // border: 1px solid pink;
}
