.content-container {
  margin: 0px auto;
  width: 1000px;
}

.content-feed {
  float: left;
  width: 400px;
  padding: 10px 10px;
}

.feed-buttons {
  color: #fff;
  border-bottom: 1px solid #eee;
}

.feed-buttons > ul > li {
  float: left;
  padding: 20px;
  border-bottom: 3px solid transparent;
  transition: border 500ms;
}

.feed-buttons > ul > li:hover {
  cursor: pointer;
  border-bottom: 3px solid #ff3;
}

.feed-display {
  margin: 10px 0 10px 0;
  color: #fff;
}

.recent-activity-item {
  margin: 5px 0;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #222;
}

.recent-activity-item > img {
  float: left;
  width: 45px;
  height: 45px;
  border: 1px #fff solid;
  border-radius: 5px;
}


.feed-information {
  float: left;
  margin-left: 5px;
}

.feed-information > h2 {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;

}

.recent-activity > img {
  display: block;
  float: left;
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.comment-activity {
}

.comment-activity > ul > li {
  width: 330px;
  height: auto;
}

.comment-activity > ul > li:first-child {
  border-bottom: 1px solid #ccc;
}
.comment-activity > ul > li:last-child {
  float: left;
  display: block;
  margin-top: 5px;
}

//temporary


.content-game-lists {
//   float: right;
  margin-top: 18px;
//   width: 560px;
  padding: 10px 10px;
}

.database-slider > h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: white;
  border-bottom: 1px solid #fff;
}

.game-preview {
  color: #fff;
}

.game-preview > img {
  margin: 10px 0;
  margin-left: 20px;
  width: 140px;
  cursor: pointer;
  border: 7px transparent solid;
  transition: border 500ms;
  border-radius: 5px;
}

.blue:hover {
  border: 7px #53b9ea solid;
}

.red:hover {
  border: 7px #d23f0f solid;
}
// .game-preview > img:hover {
//   border: 7px #53b9ea solid;
// }
//
// .game-preview > img:nth-child(2n+1):hover {
//   border: 7px white solid;
// }

.game-preview > li {
  text-align: center;
}
