.thumbs {
  color: #53b9ea;
  transition: color 200ms;
}

.thumbs:hover {
  color: #0079b3;
  cursor: pointer;
}

.like-container {
  display: inline-flex;
  float: left;
  margin-left: 16px;
}

.like-container > div:last-child {
  margin: 3px 0 0 4px;
}

.like-font {
  font-size: 16px;
  font-family: 'Roboto';
  display: inline;
}
