/* --- SIGN-IN PAGE --- */

.sign-in-box {
  display: block;
  margin: 40px auto;
  background: #FFFFFF;
  width: 600px;
  height: auto;
  border: 1px solid #AAAAAA;
  padding: 40px 40px 20px 40px;
  border-radius: 5px;
}

.sign-in-box > h1{
  font-weight: bold;
  font-size: 36px;
  margin-left: 145px;
  margin-bottom: 20px;
}

.input-box {
  margin: auto;
  padding: 0 145px;
}

.oauth-box {
  border-top: 1px solid #AAAAAA;
  margin: 10px auto;
  padding: 0 145px;
}

.sign-in-button,
.create-new-user-button {
  display: block;
  padding: 10px;
  width: 100px;
  text-align: center;
  border: 1px solid #AAAAAA;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.create-new-user-button {
  width: 150px;
}

.sign-in-button:last-child {
  width: 125px;
  margin-bottom: 20px;
}

.next-to {
  float: left;
}


.facebook {
  color: #FFFFFF;
  margin-top: 20px;
  position: relative;
}

.facebook > a {
  display: block;
  margin: 10px;
  padding: 10px 0;
  background: #3c5a99;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  text-align: center;
  transition: background-color 500ms, color 500ms;
}

.facebook > div {
  position: absolute;
  display: block;
  font-size: 35px;
  margin-left: 30px;
  padding-right: 15px;
  border-right: 1px solid #FFFFFF;
}

.facebook > a:hover {
  background: #4b76d0;
}

.twitch {
  margin-top: 20px;
  position: relative;
  color: #FFFFFF;
}

.twitch > a {
  display: block;
  margin: 10px;
  padding: 10px 0;
  background: #6441a4;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  text-align: center;
  transition: background-color 500ms, color 500ms;
}

.twitch > div {
  position: absolute;
  display: block;
  font-size: 35px;
  margin-left: 30px;
  padding-right: 15px;
  border-right: 1px solid #FFFFFF;
}

.twitch > a:hover {
  background: #8d5aea;
}

.sign-in-button:hover {
  background: #53b9ea;
  color: #fff;
  cursor: pointer;
}

.sign-in-button:hover:last-child,
.create-new-user-button:hover {
  background: #47d826;
  color: #fff;
  cursor: pointer;
}
