/* --- SIGN-IN PAGE --- */

.sign-in-box {
  position: relative;
  display: block;
  margin: 40px auto 20px auto;
  background: #FFFFFF;
  width: 600px;
  height: auto;
  padding: 40px 40px 20px 40px;
  border-radius: 5px;
}

.sign-in-box > h1 {
  text-align: center;
  font-weight: bold;
  width: auto;
  font-size: 36px;
  margin-bottom: 40px;
}

.input-box {
  position: relative;
  margin: 0 auto;
  width: 53%;
}

.oauth-box {
  border-top: 1px solid #AAAAAA;
  margin: 20px auto 0 auto;
  padding: 0 145px;
}

.oauth-box > h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.oauth-box-buttons {
  width: 100px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.oauth-box-buttons > li {
  float: left;
}

.facebook {
  color: #CCCCCC;
}

.facebook:hover {
  color: #3c5a99;
}

.twitch {
  color: #CCCCCC;
}

.twitch:hover {
  color: #6441a4;
}

.button-box {
  width: 108%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.button-box > button {
  font-size: 14px;
}

.sign-in-button, .create-new-user-button {
  display: block;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  background: #53b9ea;
  border-radius: 5px;
  color: #FFFFFF;
  transition: background-color 400ms, color 400ms;
}

.create-new-user-button {
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 400ms, color 400ms;
  width: 150px;
}

.sign-in-button:hover, .create-new-user-button:hover {
  background: #0079b3;
  cursor: pointer;
}
