/* --- SIGN-IN PAGE --- */

.sign-in-box {
  display: block;
  margin: 40px auto;
  background: #FFFFFF;
  width: 600px;
  height: auto;
  // border: 1px solid #AAAAAA;
  padding: 40px 40px 20px 40px;
  border-radius: 5px;
}

.sign-in-box > h1{
  font-weight: bold;
  font-size: 36px;
  margin-left: 145px;
  margin-bottom: 20px;
}

.input-box {
  margin: 0 auto;
  width: 53%;
}

.oauth-box {
  border-top: 1px solid #AAAAAA;
  margin: 20px auto 0 auto;
  padding: 0 145px;
}


.facebook {
  color: #FFFFFF;
  margin-top: 20px;
  position: relative;
}

.facebook > a {
  display: block;
  margin: 10px;
  padding: 10px 0;
  background: #3c5a99;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  text-align: center;
  transition: background-color 500ms, color 500ms;
}

.facebook > div {
  position: absolute;
  display: block;
  font-size: 35px;
  margin-left: 30px;
  padding-right: 15px;
  border-right: 1px solid #FFFFFF;
}

.facebook > a:hover {
  background: #4b76d0;
}

.twitch {
  margin-top: 20px;
  position: relative;
  color: #FFFFFF;
}

.twitch > a {
  display: block;
  margin: 10px;
  padding: 10px 0;
  background: #6441a4;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  text-align: center;
  transition: background-color 500ms, color 500ms;
}

.twitch > div {
  position: absolute;
  display: block;
  font-size: 35px;
  margin-left: 30px;
  padding-right: 15px;
  border-right: 1px solid #FFFFFF;
}

.twitch > a:hover {
  background: #8d5aea;
}

.button-box {
  width: 108%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button-box > button {
  font-size: 14px;
}

.sign-in-button, .create-new-user-button {
  display: block;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  background: #53b9ea;
  border-radius: 5px;
  color: #FFFFFF;
  transition: background-color 400ms, color 400ms;
}

.create-new-user-button {
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 400ms, color 400ms;
  width: 150px;
}

.sign-in-button:hover, .create-new-user-button:hover {
  background: #53b9ea;
  cursor: pointer;
}
