// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-container,
.user-information-box,
.user-information,
.stat-box,
.user-description-box,
.recent-reviews-box,
.user-review,
.user-review > * {
  color: white;

}

.user-information-box {
  margin: 25px;
  width: 940px;
  padding: 5px;
  border: 4px solid #fff;
  border-radius: 5px;
  background: #222;
}

.user-information {
  display: block;
  float: left;
  padding: 5px;
}

.user-description-box {
  margin-left: 20px;
  display: block;
  float: right;
  width: 100%''
}

.user-description-box {
  float: left;
  padding: 10px;
}

.user-description-box > button {
  display: block;
  text-align: center;
  padding: 10px;
  width: 140px;
  border: 1px solid #fff;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.user-description-box > button:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.user-description-box > h1 {
  font-size: 36px;
  border-bottom: 1px solid white;
}

.user-description-box > p {
  background: white;
  margin: 10px 0;
  height: auto;
  min-height: 100px;
  width: 660px;
  padding: 10px;
  color: black;
  border-radius: 5px;
  line-height: 20px
}

.home-user-picture .text {
  position:relative;
  bottom: 30px;
  left: 30px;
  visibility:hidden;
}

// .home-user-picture:hover .text {
//   visibility: visible;
// }
//
// .home-user-picture:hover, .home-user-picture > img:hover {
//   cursor: pointer;
//   background: #ffffff;
// }

// This goes below the div you want to do for a hover over
//             <div className="text">Update Picture</div>

.home-user-picture, .user-picture > img {
  display: block;
  width: 160px;
  height: auto;
  border: 3px #fff solid;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.stat-box {
  margin-left: 0px;
  padding: 5px 10px;
  border: 1px #fff solid;
  border-radius: 5px;
  text-align: center;
}

.stat-box > h3 {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid white;
}

.recent-reviews-box {
  padding: 10px;
  border: 4px solid #fff;
  border-radius: 5px;
  background: #222;
}

.recent-reviews-box > p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.recent-reviews-box > div {
  border-bottom: 1px solid #fff;
  padding: 5px;
  margin-bottom: 5px;
}

.recent-reviews-box > div:last-child {
  border-bottom: 0px;
  padding: 5px;
  margin-bottom: 5px;
}

.game-review-image {
  float: left;
}

.game-review-image:hover {
  cursor: pointer;
}

.game-review-image > p {
  display: block;
  text-align: center;
  max-width: 120px;
}

.game-review-comment {
  float: left
}

.game-review-comment > h3 {
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.game-review-comment > p {
  margin-left: 10px;
}

.game-review-comment > span {
  display: block;
  margin: 10px;
  padding: 5px;
  color: black;
  background: #ffffff;
  min-height: 70px;
  height: auto;
  width: 600px;
  border-radius: 5px;
}

.edit-menu {
  float: left;
  margin-top: 50px;
}
.edit-menu > button {
  display: block;
  padding: 10px;
  width: 140px;
  border: 1px solid #ffffff;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.edit-menu > button:hover {
  background: #ffffff;
  color: #000;
  cursor: pointer;
}

.top-all-time-users {
  margin: 0 auto;
  border: 1px solid white;
  width: 200px;
}

.top-user {
  width: auto;
}

.top-user:hover {
  cursor: pointer;
}
