// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-container,
.user-information-box,
.user-information,
.stat-box,
.user-description-box,
.recent-reviews-box,
.user-review,
.user-review > * {
  color: #000000;

}

.user-information-box {
  margin: 20px;
  width: auto;
  margin: 15px 15px 10px 15px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  background: #FFFFFF;
}

.user-information {
  display: block;
  float: left;
  padding: 5px;
}

.user-description-box {
  margin-left: 20px;
  display: block;
  float: left;
  padding: 10px;
}

.user-description-box > button {
  display: block;
  text-align: center;
  padding: 10px;
  width: 140px;
  border: 1px solid #AAAAAA;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.user-description-box > button:hover {
  background: #53b9ea;
  cursor: pointer;
}

.user-description-box > h1 {
  font-size: 36px;
  border-bottom: 1px solid #AAAAAA;
}

.user-description-box > p {
  background: white;
  margin: 10px 0;
  height: auto;
  min-height: 100px;
  width: 660px;
  padding: 10px;
  color: black;
  border-radius: 5px;
  line-height: 20px;
  border: 1px solid #AAAAAA;
}

.home-user-picture .text {
  position:relative;
  bottom: 30px;
  left: 30px;
  visibility:hidden;
}

// .home-user-picture:hover .text {
//   visibility: visible;
// }
//
// .home-user-picture:hover, .home-user-picture > img:hover {
//   cursor: pointer;
//   background: #ffffff;
// }

// This goes below the div you want to do for a hover over
//             <div className="text">Update Picture</div>

.home-user-picture, .user-picture > img {
  display: block;
  width: 160px;
  height: auto;
  border: 1px #AAAAAA solid;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.stat-box {
  margin-left: 0px;
  padding: 5px 10px;
  border: 1px #AAAAAA solid;
  border-radius: 5px;
  text-align: center;
}

.stat-box > h3 {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #AAAAAA;
}

.recent-reviews-box {
  // float: left;
  margin: 0 15px;
  width: auto;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  background: #FFFFFF;
}
.recent-reviews-box > p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.recent-reviews-box > h2 {
  color: #FFFFFF;
  background: #53b9ea;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  padding: 3px 0;
  border-radius: 4px 4px 0 0;
}

.recent-reviews-box > div {
  border-bottom: 1px solid #AAAAAA;
  padding: 10px;
  margin-bottom: 5px;
}

.recent-reviews-box > div:last-child {
  border-bottom: 0px;
  padding: 5px;
  margin-bottom: 5px;
}

.game-review-image {
  float: left;
}

.game-review-image:hover {
  cursor: pointer;
}

// .game-review-image > img {
//   display: block;
//   float: left;
//   width: 120px;
//   height: auto;
//   margin-bottom: 5px;
// }

.comment-img {
  object-fit: cover;
  width: 125px;
  height: 125px;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}

.game-review-image > p {
  display: block;
  text-align: center;
  max-width: 120px;
}

.edit-menu {
  float: left;
  margin-top: 50px;
  color: #000000;
}
.edit-menu > button {
  display: block;
  padding: 10px;
  width: 140px;
  border: 1px solid #AAAAAA;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.edit-menu > button:hover {
  background: #53b9ea;
  color: #FFFFFF;
  cursor: pointer;
}

.top-all-time-users-container {
  float: left;
  margin: 10px 15px 10px 15px;
  width: 35%;
  height: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 5px;

}

.top-all-time-users-container > h2 {
  padding: 3px 0;
  background: #53b9ea;
  text-align: center;
  font-size: 20px;
  border-radius: 4px 4px 0px 0px;
  color: #FFFFFF;
}

.top-all-time-users {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.top-user, .top-game {
  font-size: 14px;
  color: #000000;
  background: #FFFFFF;
  width: auto;
  border-top: 1px solid #AAAAAA;
  padding: 5px;
}

.top-user-info, .top-game-info {
  width: 81%;
  position: relative;
  float: left;
}

.top-game-info {
  width: 78%;
}

.top-user:last-child, .top-game:last-child {
  border-radius: 0 0 5px 5px;
}


.username {
  width: auto;
  display: inline-block;
  border-bottom: 1px solid transparent;
  margin-right: 4px;
  color: #53b9ea;
}

.username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.image-container {
  float: left;
  position: relative;
  margin-right: 5px;
}

.cover {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}

.cover:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px #53b9ea;
}

.comment-img:hover  {
  cursor: pointer;
  box-shadow: 0px 0px 7px 2px #53b9ea;
}

.index-img {
  border-radius: 4px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.slide-cover {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #AAAAAA;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}

.slide-cover:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 18px 3px #53b9ea;
}
