<!DOCTYPE html>
<html>
<head>
  <title>GotgoodgameCapstoneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header group">
  <a href="/#/index">
  <div class="header-logo-first">
    gotgood
  </div>
  <div class="header-logo-second">
    games
  </div>
</a>
  <nav class="header-nav">

  </nav>
</header>

<%= yield %>

</body>
</html>
